
@{
    ViewBag.Title = "InvoiceTemplate";
}

<div class="container invoice-font">

    <div class="row">
        <div class="col-12 header-font">
            <div>Faktura</div>
            <div>Nr FA/01/2021</div>
        </div>

        <div class="row mt-5">
            <div class="col-5">
                <img src="./Images/115783931601b5c.jpg" alt="logo" class="logo" />
            </div>
            <div class="col-4 offset-3">
                <div class="top-line">
                    <div class="top-small-caption">
                        Data sprzedaży:
                    </div>
                    <div>
                        12-01-2021
                    </div>
                </div>


                <div class="top-line">
                    <div class="top-small-caption">
                        Termin zapłaty:
                    </div>
                    <div>
                        12-02-2021
                    </div>
                </div>


                <div class="top-line">
                    <div class="top-small-caption">
                        Sposób:
                    </div>
                    <div>
                        Przelew
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row mt-5 ">
        <div class="col-5 ">
            <div class="top-line">
                <div class="top-small-caption">
                    Sprzedawca:
                </div>
                <div>Michał Beśka</div>
                <div>Konratowicza</div>
                <div>03-298 Warszawa</div>
                <div>Email: beskamichal49@gmail.com</div>
            </div>
        </div>

        <div class="col-5 offset-2">
            <div class="top-line">
                <div class="top-small-caption">
                    Sprzedawca:
                </div>
                <div>Wiktoria Freus</div>
                <div>Konratowicza</div>
                <div>03-298 Warszawa</div>
                <div>Email: wiktoria.freus1@gmail.com</div>
            </div>
        </div>

    </div>

    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th>Lp</th>
                <th>Produkt</th>
                <th>Ilość</th>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Pozycja 1</td>
                <td>10</td>
                <td>1000,00 zł</td>

            </tr>
            <tr>
                <td>2</td>
                <td>Pozycja 1</td>
                <td>15</td>
                <td>1500,00 zł</td>

            </tr>
            <tr>
                <td>3</td>
                <td>Pozycja 2</td>
                <td>5</td>
                <td>250,00 zł</td>

            </tr>
            <tr>
                <td>4</td>
                <td>Pozycja 2</td>
                <td>20</td>
                <td>1000,00 zł</td>

            </tr>
        </tbody>

    </table>

    <div class="row">
        <div class="col-12">
            <div class="text-right">Wartość: <strong>9000,00 zł</strong></div>
            <div class="text-left">Uwagi: jakieś uwagi</div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <div>Wystawił:</div>
            <div>Beśka Michał</div>
            <div>...............................</div>
        </div>
        <div class="col-6">
            <div>Odebrał:</div>
            <div>Wiktoria Freus</div>
            <div>...............................</div>
        </div>
    </div>

</div>

